#board {
  width: var(--boardSz);
  height: var(--boardSz);

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: gray;
  border: var(--boardBorder) gray solid;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0;
}
